.idea
ImgOrganizer/.idea
ImgOrganizer/x64
ImgOrganizer/vs
ImgOrganizer/html
html/
testing/tests/*
testing/archive/*
archive/
ImgOrganizer/FaceDetection/faces/*
ImgOrganizer/FaceDetection/backlog/*
ImgOrganizer/.vs
ImgOrganizer/FaceDetection/trained_model.yml
