.idea
ImgOrganizer/.idea
ImgOrganizer/x64
ImgOrganizer/vs
ImgOrganizer/html
ImgOrganizer/tmp.jpg
html/
testing/auto_test*
testing/tests/*
testing/archive/*
archive/
ImgOrganizer/FaceDetection/faces/*
ImgOrganizer/FaceDetection/backlog/*
ImgOrganizer/.vs
ImgOrganizer/FaceDetection/trained_model.yml
ImgOrganizer/testing/auto_test*
